<% layout("/layouts/boilerplate") %>


<body>
    <h3>All Listing</h3>
    <!-- <form action="/listings/new" method="get">
        <button> Create New Post</button>
    </form> -->

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
        <% for (const Listing of allListings) { %>
            <a href="/listings/<%= Listing.id %>" class="listing-link"> 
                <div class="card col">
                    <img src="<%= Listing.image %>" class="card-img-top" alt="...">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= Listing.title %></b>
                        <br>
                        &#8360; <%= Listing.price.toLocaleString("en-PK") %> /Night
                      </p>
                    </div>
                </div>
                
            </a>
        <%  } %>    
    </div>

   
        
</body>
